/* Resetten */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    background-color: rgba(165, 42, 42, 0.5);
    color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
}

/* header plus heading en paragraph */

header {
    background-color: rgb(165, 42, 42);
    height: 135px;
    text-align: center; 
}

header div h1 {
    font-size: 20px;
    padding-top: 47px;
    margin-bottom: 10px;
}

header div p {
    font-weight: bold;
    font-size: 12px;
}

/* Navigatie */

nav {
    background-color: rgba(0, 128, 0);
    font-size: 12px;    
}

nav ul {
    padding-top: 2px;
    height: 100px;
    text-align: center;
}

nav ul li {
    padding: 5px 0;
}

nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 12px;
}
